<div id="loading" data-role="page">
</div>

<script id="searchTemplate" type="text/template">
    <header class="black-gradient">
    	<div class="dotted-line">
        	<h1>BrainRide</h1>
        	<a href="#" id="myCards" class="action-button">My Cards</a>
    	</div>
    </header>
    <section id="searchBar">
    	<div class="searchArea">
    		<input type="search" class="text-input" id="term" placeholder="Find cards" />
    	</div>
        <a id="termSearch" class="task-button">Search</a>
    </section>
    <section>
        <ul id="results" class="list"></ul>
        <div id="noResults">
        </div>
    </section>
	<nav class="pager">
	    <ul class="black-gradient">
	        <li class="previous" id="previousResults"><a><span class="arrow">&nbsp;</span>Previous</a>
	        <li class="next" id="nextResults"><a>Next<span class="arrow">&nbsp;</span></a>
	    </ul>
	</nav>
 </script>
 

<script id="cardsTemplate" type="text/template">
    <a href="#quiz/{{ card_set_id }}" class="cardSet">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p><small>Tags: {{ tags }}</small></p>
    </a>
</script>

<script id="removeCardTemplate" type="text/template">
    <a href="#{{ card_set_id }}" class="remove">Delete</a>
</script>

<script id="playerTemplate" type="text/template">
	<div id="notification" class="ui-bar-e" data-role="header" data-position="inline">
		<p></p>
		<a href="#" data-icon="delete" id="closeNotification" class="ui-btn-right">Hide</a>
	</div>
	
	<header class="black-gradient">
    	<div class="dotted-line">
        	<a href="#" id="back" class="action-button">Back</a>
        	<h1 title="{{ title }}">{{ title }}</h1>
        	<a href="#" id="add" class="action-button">Add</a>
    	</div>
    </header>
	<nav class="pager">
	    <ul class="black-gradient">
	        <li id="previous" class="previous"><a><span class="arrow">&nbsp;</span>Previous</a>
	        <li id="next" class="next"><a>Next<span class="arrow">&nbsp;</span></a>
	    </ul>
	</nav>

    <div data-role="content">
        <div id="card"></div>
    </div>
 </script>


<script id="cardTemplate" type="text/template">
    <div data-role="collapsible">
        <h3>{{ question }}</h3>
        <p> {{ answer }}</p>
    </div>
</script>

<script id="noResultsTemplate" type="text/template">
    <p>Oopsie Daisy!  Nothing found. Try another search.</p>
</script>