<div id="loading" data-role="page">
</div>

<script id="searchTemplate" type="text/template">
    <header class="black-gradient">
    	<div class="dotted-line">
        	<h1><img src="/header.png" alt="" />BrainRide</h1>
        	<a href="#" id="myCards" class="action-button btn-right">
        		<span class="icon-bg favorites">&nbsp;</span>
        		<span class="text">My Cards</span>
        	</a>
    	</div>
    </header>
    <section id="searchBar">
    	<div class="searchArea">
    		<input type="search" class="text-input" id="term" placeholder="Find cards" />
    	</div>
        <a id="termSearch" class="task-button clear">Search</a>
    </section>
    <section>
        <ul id="results" class="list"></ul>
        <div id="noResults">
        </div>
    </section>
	<nav class="pager hidden">
	    <ul>
	        <li class="previous" id="previousResults"><a class="black-gradient"><span class="arrow">&nbsp;</span>Previous</a>
	        <li class="next" id="nextResults"><a class="black-gradient">Next<span class="arrow">&nbsp;</span></a>
	    </ul>
	</nav>
 </script>
 

<script id="cardsTemplate" type="text/template">
    <a href="#quiz/{{ card_set_id }}" class="cardSet">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p><small>Tags: {{ tags }}</small></p>
    </a>
</script>

<script id="removeCardTemplate" type="text/template">
    <a href="#{{ card_set_id }}" class="remove additional-action">
    	<span class="action-holder">
    		<span class="icon-bg remove">&nbsp;</span>
    	</span>
    </a>
</script>

<script id="playerTemplate" type="text/template">
	<div id="notification" class="hidden">
		<p></p>
		<a href="#" id="closeNotification" class="action-button btn-right">
    		<span class="icon-bg remove">&nbsp;</span>
    		<span class="text">Hide</span>
    	</a>
	</div>
	
	<header class="black-gradient">
    	<div class="dotted-line">
        	<a href="#" id="back" class="action-button btn-left">
        		<span class="icon-bg back">&nbsp;</span>
        		<span class="text">Back</span>
        	</a>
        	<h1 title="{{ title }}">{{ title }}</h1>
        	<a href="#" id="add" class="action-button btn-right">
        		<span class="icon-bg add">&nbsp;</span>
        		<span class="text">Add</span>
        	</a>
    	</div>
    </header>
	<nav class="pager">
	    <ul>
	        <li id="previous" class="previous disabled"><a class="black-gradient"><span class="arrow">&nbsp;</span>Previous</a>
	        <li id="next" class="next"><a class="black-gradient">Next<span class="arrow">&nbsp;</span></a>
	    </ul>
	</nav>
    <div id="card"></div>

 </script>


<script id="cardTemplate" type="text/template">
    <div id="collapser">
        <h3>
        	<span class="icon-bg plus">&nbsp;</span>
        	<span class="question">{{ question }}</span>
        </h3>
        <p class="hidden"> {{ answer }}</p>
    </div>
</script>

<script id="noResultsTemplate" type="text/template">
    <p>Oopsie Daisy!  Nothing found. Try another search.</p>
</script>