/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body{
	font-size: 100%;
	background: #eaeaea;
	font-family: Helvetica,Arial,sans-serif;
}

p{
	line-height: 1.3em;
}

section{
	clear: both;
}

.float-right{float: right;}
.float-left{float: left;}
.btn-right{right: 10px;}
.btn-left{left: 10px;}
.hidden{display: none;}

/* gradients */
.black-gradient{
	background: #111111;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3c3c3c), to(#111111));
   	background-image: -webkit-linear-gradient(top, #3c3c3c, #111111); 
   	background-image: -moz-linear-gradient(top, #3c3c3c, #111111);
   	background-image: -ms-linear-gradient(top, #3c3c3c, #111111);
   	background-image: -o-linear-gradient(top, #3c3c3c, #111111);
}

/*header*/
header{
	width: 100%;	
	float: left;
	font-family: 'FuturaMdCnBTMedium',Arial,Helvetica,sans-serif;
}

header .dotted-line{
	width: 98%;
	margin: 2px 0;
	padding: 10px 1% 6px;
	float: left;
	position: relative;
	border-top: 1px dashed #494747;
	border-bottom: 1px dashed #494747;
}

header h1{
	color: #efefef;
	display: block;
	text-align: center;
	text-overflow: ellipsis;
	margin: 5px 30% 5px 30%;
	font-size: 1em;
	white-space: nowrap;
}

header a{
	position: absolute;
	top: 5px;
}

/*searchBar*/
#searchBar{
	width: 96%;
	float: left;
	padding: 20px 2%;
	border: 1px solid #B3B3B3;
	border-left: none;
	border-right: none;
	background: #E9EAEB;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#E9EAEB));
   	background-image: -webkit-linear-gradient(top, #F0F0F0, #E9EAEB); 
   	background-image: -moz-linear-gradient(top, #F0F0F0, #E9EAEB);
   	background-image: -ms-linear-gradient(top, #F0F0F0, #E9EAEB);
   	background-image: -o-linear-gradient(top, #F0F0F0, #E9EAEB);
}

/*common user interface elements */
.action-button{
	border-radius: 9px;
	padding: 5px 10px;
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px #194B7E;
	border: 1px solid #044062;
	outline: none;
	background: #66A1CC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66A1CC), to(#3A6C9F));
   	background-image: -webkit-linear-gradient(top, #66A1CC, #3A6C9F); 
   	background-image: -moz-linear-gradient(top, #66A1CC, #3A6C9F);
   	background-image: -ms-linear-gradient(top, #66A1CC, #3A6C9F);
   	background-image: -o-linear-gradient(top, #66A1CC, #3A6C9F);
}

.action-button:hover{
	background: #25496B;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66A1CC), to(#25496B));
   	background-image: -webkit-linear-gradient(top, #66A1CC, #25496B); 
   	background-image: -moz-linear-gradient(top, #66A1CC, #25496B);
   	background-image: -ms-linear-gradient(top, #66A1CC, #25496B);
   	background-image: -o-linear-gradient(top, #66A1CC, #25496B);
	border: 1px solid #00415E;
}

.action-button .text{
	float: left;
    padding: 2px 0 0 5px;
}



.task-button{
	display: block;
	padding: 0.5em 0;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	outline: none;
	color: #000000;
	background: #efefef;	
}

.task-button:hover{
	opacity: 0.5em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);	
}

/* searchArea */
#searchBar{
	position: relative;
}

.searchArea{
	padding: 4px 5px;
	margin: 0 0 10px 0;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-radius: 9px;
	position: relative;
}

.searchArea:after{
	content: "";
	height: 18px;
	width: 18px;
	top: 50%;
	left: 7px;
	margin: -9px 0 0 0;
	position: absolute;
	background: url("icons-18-white.png") -612px 50% no-repeat rgba(0, 0, 0, 0.2);
    border-radius: 9px 9px 9px 9px;
}

/* input elements */
input[type="search"]{
	width: 98%;
	padding: 0.4em 1em;
	background: none;
	border: none;
	margin: 0 0 0 20px;
	-webkit-appearance: none; 
}


/* list view */

.list li{
	padding: 20px 20px;
	font-size: 0.9em;
	background: #C1BFAA;
	border-bottom: 1px dotted #cccccc;
	-moz-box-shadow: 0 1px 5px #585643;
	-webkit-box-shadow: 0 1px 5px #585643;
	box-shadow: 0 1px 5px #585643;
	text-shadow: 0 1px 1px #F6F6F6;
	text-overflow: ellipsis;
	cursor: pointer;
	position: relative;
	background: #EEEEEE;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EEEEEE));
   	background-image: -webkit-linear-gradient(top, #FDFDFD, #EEEEEE); 
   	background-image: -moz-linear-gradient(top, #FDFDFD, #EEEEEE);
   	background-image: -ms-linear-gradient(top, #FDFDFD, #EEEEEE);
   	background-image: -o-linear-gradient(top, #FDFDFD, #EEEEEE);
   	color: #444444;
}

.list li:hover{
	background: #DADADA;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#DADADA));
   	background-image: -webkit-linear-gradient(top, #EDEDED, #DADADA); 
   	background-image: -moz-linear-gradient(top, #EDEDED, #DADADA);
   	background-image: -ms-linear-gradient(top, #EDEDED, #DADADA);
   	background-image: -o-linear-gradient(top, #EDEDED, #DADADA);
}


.list p{
	width: 80%;
	line-height: 20px;
	height: 20px;
	white-space: nowrap;  
	overflow: hidden;
	text-overflow: ellipsis;
}

.list li a{
	outline: none;
	text-decoration: none;
	display: block;
	color: #444444;
}

.list li .additional-action{
	width: 40px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #cccccc;
}

.list li .additional-action:hover{
	background: #E0E0E0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8B8E91), to(#E0E0E0));
   	background-image: -webkit-linear-gradient(top, #8B8E91, #E0E0E0); 
   	background-image: -moz-linear-gradient(top, #8B8E91, #E0E0E0);
   	background-image: -ms-linear-gradient(top, #8B8E91, #E0E0E0);
   	background-image: -o-linear-gradient(top, #8B8E91, #E0E0E0);
}

.list li .action-holder{
	float: left;
	margin: 40px 0 0 10px;
}

.list h2{
	font-size: 1em;
	margin: 0 0 3px 0;
}

.list p{
	font-size: 0.9em;
}

.list small{
	font-size: 0.8em;
	font-style: italic;
	margin: 5px 0 0 0;
	color: #666666;
}

/* pager */
.pager ul {
	width: 100%;
	height: 50px;
	float: left;
	font-size: 0.9em;
	font-weight: bold;
	color: #ffffff;
}

.pager ul li{
	float: left;
	width: 50%;
	cursor: pointer;
}

.pager ul li a:hover{
	background: #444444;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#383838));
   	background-image: -webkit-linear-gradient(top, #555555, #383838); 
   	background-image: -moz-linear-gradient(top, #555555, #383838);
   	background-image: -ms-linear-gradient(top, #555555, #383838);
   	background-image: -o-linear-gradient(top, #555555, #383838);
}

.pager ul li a{
	width: 98%;
	padding: 0 0 0 2%;
	height: 50px;
	line-height: 50px;
	display: block;
	cursor: pointer;
	border-right: 1px solid #000000;
}

.pager ul .next a{
	padding: 0 2% 0 0;
}

.pager ul li:last-child a{
	border-right: none;
}

.pager .arrow{
	width: 18px;
	height: 18px;
	float: left;
	margin: 14px 0 0 0;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	background: url(icons-18-white.png) no-repeat;
}

.pager .previous span{
	margin-right: 5px;
	background-position: -144px 50%;
}

.pager .next{
	text-align: right;
}

.pager .next span{
	float: right;
	margin-left: 5px;
	background-position: -108px 50%;
}

.pager .disabled{
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4; 
}

.pager .disabled a{
	cursor: default;
}

/* collapser */
#collapser{
	clear: both;
	padding: 15px 0 0 0;
}

#collapser h3{
	width: 94%;
	padding: 10px 1%;
	margin: 0 2% 0 2%;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-radius: 9px;
	cursor: pointer;
}

#collapser h3 .question{
	margin: 0 0 0 10px;
}

#collapser p{
	margin: 20px 2% 0 2%;
	font-weight: bold;
}

/* icons */
.icon-bg{
	width: 18px;
	height: 18px;
	float: left;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	background-image: url(icons-18-white.png);
	background-repeat: no-repeat;
	background-color: #333333;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5; 
}

.arrow{
	margin: 14px 0 0 0;
}

.plus{
	background-position: 0 50%;
}

.favorites{
	background-position: -468px 50%;
}

.back{
	background-position: -396px 50%;
}

.remove{
	background-position: -72px 50%;
}

/* notification */
#notification{
	width: 96%;
	padding: 10px 2%;
	background: #F2F1BF;
	float: left;
}


